# Week 1 Day 1: Load and Inspect World Bank GDP per Capita Data

**Project Goal:**  
For this project, I am sourcing GDP per capita (current US$) data from the World Bank's World Development Indicators database. 
The goal for Week 1 Day 1 is to load the dataset, inspect its structure, and make sure it is ready for cleaning and analysis in the next steps.

**Cell Objective:**  
This cell imports pandas, loads the GDP per capita CSV file into a DataFrame, and inspects the first rows, shape, and columns to understand the dataset structure.

In [1]:
# Step 1: Import pandas library
import pandas as pd

# Step 2: Load the GDP per capita CSV file into a pandas DataFrame
gdp_data = pd.read_csv('../data/world_bank_gdp_per_capita.csv')

# Step 3: Display the first 5 rows to inspect the data
gdp_data.head()

,Country Name,Country Code,Series Name,Series Code,2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],...,2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023],2024 [YR2024]
0,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,174.930991430166,138.706821676113,178.954088379235,198.871115728727,221.763653873013,254.184249149336,...,565.569730408751,522.082215583898,525.469770891619,491.337221382603,496.6025042585,510.787063366811,356.496214115892,357.261152798144,413.757894705303,..
1,Albania,ALB,GDP per capita (current US$),NY.GDP.PCAP.CD,1160.42047054038,1326.41652388077,1479.83884572006,1908.69900687608,2446.90949947798,2741.72136549578,...,4199.53912925398,4457.63412207495,5006.36012951959,5897.65452588774,6069.43903131027,6027.91350716348,7242.45513146613,7756.96188744253,9730.86921906893,11377.7757431099
2,Algeria,DZA,GDP per capita (current US$),NY.GDP.PCAP.CD,1772.92869122761,1896.30020878013,1937.46411413019,2283.77299346126,2816.99384960555,3233.13339634212,...,4685.05902729002,4424.98529027556,4554.66753957828,4577.21029180491,4468.45341883656,3743.5419522929,4160.55926736925,4960.30334332888,5370.477235078,5752.99076651465
3,American Samoa,ASM,GDP per capita (current US$),NY.GDP.PCAP.CD,..,..,8972.69636535698,9197.66196836987,8958.42866697173,8831.26975996609,...,12727.4102651386,12843.3342903627,11863.6839452565,12552.0546868861,12886.1359517218,14489.2586563775,15236.1604875571,18017.4589383973,..,..
4,Andorra,AND,GDP per capita (current US$),NY.GDP.PCAP.CD,21810.2503808666,23511.2969500881,26528.1300628236,34063.575598394,39021.1107100919,40829.8116399538,...,38654.95287916,40129.8385811474,40672.9717424447,42819.7577456133,41257.816459345,37361.1070081615,42425.7066454357,42414.0479861228,46812.4261013102,49303.6491674336

In [2]:
# Step 4: Optional - check the shape of the dataset (rows, columns)
print("Dataset shape:", gdp_data.shape)

Dataset shape: (222, 29)

In [3]:
# Step 5: Optional - see the column names
print("Columns:", gdp_data.columns.tolist())

Columns: ['Country Name', 'Country Code', 'Series Name', 'Series Code', '2000 [YR2000]', '2001 [YR2001]', '2002 [YR2002]', '2003 [YR2003]', '2004 [YR2004]', '2005 [YR2005]', '2006 [YR2006]', '2007 [YR2007]', '2008 [YR2008]', '2009 [YR2009]', '2010 [YR2010]', '2011 [YR2011]', '2012 [YR2012]', '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]', '2016 [YR2016]', '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]', '2020 [YR2020]', '2021 [YR2021]', '2022 [YR2022]', '2023 [YR2023]', '2024 [YR2024]']